{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="h1-wrapper">
          <h1>Title: {{ newspaper.title }}</h1>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a href="{% url "agency:newspaper-update" pk=newspaper.id %}" class="btn btn-secondary link-to-page">Update</a>
        <a href="#" class="btn btn-danger link-to-page">Delete</a>
      </div>
    </div>
    <div class="h1-wrapper">
      <p><strong>Topic:</strong> {{ newspaper.topic.name }} </p>
      <p><strong>Content:</strong> {{ newspaper.content }} </p>
      <p><strong>Published date:</strong> {{ newspaper.published_date }}</p>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <h3>Publishers</h3>
        {% for publisher in newspaper.publishers.all %}
          <hr>
          <p class="text-muted"><strong>ID:</strong> {{ publisher.id }} </p>
          <p>
            <strong>Full name:</strong>
            {{ publisher.first_name }} {{ publisher.last_name }}
            {% if publisher.years_of_experience %}(years of experience: {{ publisher.years_of_experience }}){% endif %}
          </p>
        {% empty %}
          <p>There are no publishers!</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
