{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="h1-wrapper">
          <h1><strong>Topic List</strong></h1>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a href="{% url "agency:topic-create" %}" class="btn btn-primary">Create New Topic</a>
      </div>
    </div>

    <div class="search">
      {% include "includes/search_form.html" %}
    </div>

    {% if topic_list %}
      <div class="topic-type-container">
        <div class="row">
          {% for topic in topic_list %}
            <div class="col-md-6">
              <div class="topic-type-item">
                <div class="topic-type-name">{{ topic.name }}</div>
                <div class="topic-type-list-name">
                  {% for newspaper in topic.newspapers.all %}
                    <hr>
                    <p>Newspapers:</p>
                    <p><strong>Title:</strong> <a href="{% url 'agency:newspaper-detail' pk=newspaper.id %}">{{ newspaper.title }}</a></p>
                  {% empty %}
                    <p>There are no newspapers!</p>
                  {% endfor %}
                </div>
                <div class="topic-type-buttons">
                  <a href="{% url "agency:topic-update" pk=topic.id %}" class="btn btn-update">Update</a>
                  <a href="{% url "agency:topic-delete" pk=topic.id %}" class="btn btn-delete">Delete</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <p class="mt-4">There are no topic types in the menu.</p>
    {% endif %}
  </div>
{% endblock %}
